---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Marquee from '../components/Marquee.astro';
import SlidingText from '../components/SlidingText.astro';
import SmoothieMenu from '../components/SmoothieMenu.astro';
import YogurtMenu from '../components/YogurtMenu.astro';
import About from '../components/About.astro';
import Gallery from '../components/Gallery.astro';
import Location from '../components/Location.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <Marquee />
    <About />
    <SlidingText />
    <SmoothieMenu />
    <YogurtMenu />
    <Gallery />
    <Location />
    <Footer />
  </main>
</Layout>
